*{

	margin: 0px;
	padding: 0px;

}


body{

	
	background-image: url('../img/back3.jpg');
	background-repeat:no-repeat;
   background-size:cover;

}

.section{
	height: 600px;
	width: 49%;
	border: 0px solid black;
	float: left;

}


.welcome{
	margin: 50px auto;
	text-align: center;
	margin-bottom: 30px; 
}


.welcome span{

	font-size: 30px;
	margin-right: 20px;
}


.welcome button{

	width: 150px;
	height: 30px;
	border-radius: 10px;
}



.matchesBord{
	margin: 0px auto;
	text-align: center;
}

.matchesBord div{

	

}

.matchesBord .ballsImages{

	margin: 10px;
	position: static;
	width: 50px;
	height: 50px;

}

.matchesBord .matchesVAlue{

	margin: 10px;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}

#timer{

	display: inline-block;
	text-align: center;
	font-size: 40px;
	background-color: rgba(107, 138, 158, 0.5);


}
img{


	width: 50px;
	height: 50px;
	position: absolute;

}
#GameBord{

	position: absolute;
	margin: 10px auto;
 	border : 2px solid black;
	border-top: 0px;
	width: 500px;
	height: 600px;
	left: 610px;
	top: 0px;
	
	background-color: rgba(107, 138, 158, 0.2);
}